body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    color: white;
    t-decoration: none;
}

#hero {
    background-color: #f0f0f0;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    width: 80%;
    margin: 0 auto;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#about, #projects, #contact {
    padding: 50px 20px;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-item {
    border: 1px solid #ddd;
    padding: 20px;
}

project-item img {
  max-width: 100%;
  height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}